{% extends 'main/base.html' %}

{% block content %}
<html>
<head>
<style>
h1 {text-align: center;}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
td {text-align: center;}
</style>
</head>

    <h1 style="font-size:300%">Welcome to Cheapest Shopping Site!</h1>
    
    <h2 style="font-size:200%">Products</h2>
    <table style="font-size:130%;width:70%">
        <th style="height:50px">Name</th>
        <th style="height:50px">Count</th>
        <th style="height:50px">Price</th>
        <th></th>
		{% for key, value in products.items %}
			<tr> 
            <form method="post" action=""> 
            {% csrf_token %}
            <td>{{key}}</td>
            {% for key2, value2 in value.items %}
            <td>{{value2}}</td>
            {% endfor %}
            <td><button type="submit" name="add" value={{key}}>Add Basket</button></td>
            </form>
            </tr>	
		{% endfor %}
    </table>
    <br>
    <br>
    <form action="/cart" method="post">
        {% csrf_token %}
        <button style="height:30px">GO TO CART</button>
    </form>


    
    

{% endblock %}